Source: monkey-bubble
Section: unknown
Priority: optional
Maintainer: laurent belmonte <laurent.belmonte@aliacom.fr>
Build-Depends: debmake , libgtk2.0-dev, librsvg2-dev, libgnomeui-dev, libgstreamer0.6-dev
Standards-Version: 3.5.9

Package: monkey-bubble
Architecture: any
Depends: ${shlibs:Depends}
Description: Monkey Bubble is a bust'a'move clone built using Gnome technologies.
